<section
  class=" w-full h-[calc(100vh-5.5rem)]">
  <img src="./bg-images/ceiling.png" class="absolute z-0 w-full h-[calc(100vh-5.5rem)] object-cover" alt="Home section background image">
  <div
    class="overlay-gradient bg-soft-gradient w-full h-[calc(100vh-5.5rem)] absolute">
    <div class="flex flex-col h-3/4 justify-center">
      <div
        class="flex flex-col max-md:justify-around justify-between items-center h-[18rem] w-full">
        <h2
          class="shimmer-text block font-extrabold text-primary max-sm:w-10/12 text-3xl lg:text-5xl w-1/2 max-w-[40rem] text-center">
          Excellence Begins with
          <span class="underline text-info fade-in-delay">Precision</span>
        </h2>

        <div class="achievments-container">
          <p class="achievments-text fade-in-scale">
            <span class="achievments-text-accent">20+</span>
            years of experience
          </p>

          <p class="achievments-text fade-in-scale">
            <span class="achievments-text-accent">50+</span>
            succesful projects
          </p>

          <p class="achievments-text fade-in-scale">
            <span class="achievments-text-accent">100%</span>
            safety record
          </p>
        </div>
      </div>

      <div
        class="h-[7rem] w-full flex flex-col items-center justify-center absolute bottom-3 lg:bottom-5 max-md:bottom-12">
        <span class="text-xl lg:text-2xl font-semibold text-primary block"
          >Scroll down</span
        >
        <div class="relative mt-1" role="img" aria-label="Scroll down">
          <img
            class="h-14 absolute top-4 bounce max-lg:hidden"
            src="./chevron.svg"
            alt="Scroll down icon" />
          <img
            class="h-14 bounce max-lg:hidden"
            src="./chevron.svg"
            alt="Scroll down icon" />

          <img
            src="./scroll-down.svg"
            class="h-20 bounce max-md:block lg:hidden"
            alt="Scroll down icon" />
        </div>
      </div>
    </div>
  </div>
</section>
