<div class="landing-wrapper">
  <app-header id="home"></app-header>
  
  <app-dot-navigation class="z-[100] relative"></app-dot-navigation>

  <app-home-section></app-home-section>

  <app-who-we-are-section id="who-we-are"></app-who-we-are-section>

  <app-our-expertise id="our-expertise"></app-our-expertise>

  <app-slider id="slider"></app-slider>

  <app-who-we-have-worked-with
    id="who-we-have-worked-with"></app-who-we-have-worked-with>

  <app-featured-projects id="featured-projects"></app-featured-projects>

  <app-our-location id="our-location"></app-our-location>

  <app-get-in-touch-section id="get-in-touch"></app-get-in-touch-section>

  <app-footer id="footer"></app-footer>
</div>
