<section class="bg-primary lg:bg-secondary h-max min-h-[20rem] p-5">
  <!-- Uncomment this after featured section need -->
  <!-- <h2 class="font-extrabold text-light text-3xl sm:text-4xl lg:text-6xl text-center px-5 py-5"> FEATURED PROJECTS</h2>

  <div class="flex justify-center mb-5">
    <div class="w-3/4 flex justify-evenly">
      <div class="bg-slate-800 basis-2/5 h-[20rem]"></div>
    
      <div class="bg-slate-800 basis-2/5 w-[30rem] h-[20rem]"></div>
    </div>
  </div> -->

  <div class="flex justify-center">
    <div
      class="bg-light aspect-video w-full md:w-3/4 lg:w-1/2 flex items-center justify-center">
      <h3
        class="uppercaseitems-center flex text-center justify-center text-primary opacity-60 text-2xl lg:text-4xl font-extrabold">
        Video is Coming Soon
      </h3>
    </div>
  </div>
</section>
