<section class="video-section bg-primary relative lg:bg-secondary md:h-[35rem] lg:h-[45rem] lg:min-h-[20rem] max-h-[45rem] flex flex-col justify-center">
  <div class="overlay"></div>
  <!-- Uncomment this after featured section need -->
  <!-- <h2 class="font-extrabold text-light text-3xl sm:text-4xl lg:text-6xl text-center px-5 py-5"> FEATURED PROJECTS</h2>

  <div class="flex justify-center mb-5">
    <div class="w-3/4 flex justify-evenly">
      <div class="bg-slate-800 basis-2/5 h-[20rem]"></div>
    
      <div class="bg-slate-800 basis-2/5 w-[30rem] h-[20rem]"></div>
    </div>
  </div> -->

  <div class="justify-center p-5 md:h-2/3 lg:h-3/4 z-10 flex items-center">
    <div
      class="mx-auto my-0 h-full bg-light aspect-video flex items-center justify-center px-5">
      <h3
        class="uppercase items-center flex text-center justify-center text-primary opacity-60 text-2xl lg:text-4xl font-extrabold">
        Video is Coming Soon
      </h3>
    </div>
  </div>
</section>
