<section class="bg-light h-max pt-8 lg:py-8">
  <div>
    <h2 class="text-accent font-extrabold text-4xl text-center">
      GET IN TOUCH
    </h2>

    <p class="text-primary text-center text-sm lg:text-xl font-medium mt-3">
      Reach out to us and let's turn your construction dreams into reality
    </p>
  </div>

  <div
    class="flex-col flex lg:flex-row lg:items-center justify-around max-sm:w-full max-sm:mx-0 sm:my-0 w-2/3 lg:w-11/12 mx-auto my-0">
    <app-get-in-touch-form
      class="basis-2/5 p-3 max-w-[49rem]"></app-get-in-touch-form>

    <div
      class="basis-2/5 lg:min-h-[25rem] contact-info bg-accent flex flex-col text-light rounded-t-lg lg:rounded-2xl mx-auto my-0 lg:mx-0 lg:shadow-lg lg:h-[31rem] lg:w-[28rem] lg:max-w-[30rem] p-5 lg:p-9">
      <h3 class="font-bold text-2xl lg:text-3xl text-center mb-2">
        Contact Info
      </h3>

      <div class="flex flex-col items-center justify-around h-full w-full">
        <div class="flex flex-col text-primary w-full">
          <h4 class="text-primary font-medium text-lg">Quick Contact</h4>

          <p>Call Us: <a href="tel:+4403301332585">+4403301332585</a></p>

          <p>
            Email:
            <a
              href="mailto:info@precise-interiors.com"
              class="whitespace-nowrap"
              >info&#64;precise-interiors.com</a
            >
          </p>
        </div>

        <div class="flex flex-col basis-2/4 justify-between items-center mt-6">
          <h4 class="text-primary font-medium mb-3">
            Do You Have Any Question? Just Contact Us To Get Help!
          </h4>

          <img
            class="w-20 h-20 lg:w-28 lg:h-28"
            src="./contact_us_icon.png"
            alt="Contact us icon" />

          <p class="text-[0.6rem] text-center text-orange-600">
            Icon by
            <a
              href="https://www.freepik.com/pojok-d"
              target="_blank"
              rel="noopener noreferrer"
              >pojok d</a
            >
            from
            <a
              href="https://www.freepik.com"
              target="_blank"
              rel="noopener noreferrer"
              >Freepik</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
