@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: 255 115 179;

    --color-primary: 333deg 100% 73%;

    --color-primary: 255, 115, 179;
  }
}