<div class="h-[50vh] min-h-64 bg-primary">
  <div
    class="overlay-gradient bg-custom-gradient h-full flex flex-col justify-evenly p-5">
    <h2
      class="font-extrabold text-light text-3xl sm:text-4xl lg:text-6xl text-center px-5">
      OUR PARTNERS
    </h2>

    <div
      class="logos lg:max-h-48 flex flex-col lg:flex-row h-3/4 lg:h-1/2 justify-around items-center">
      @for (logo of logos; track logo.imgSrc) {
        <img [src]="logo.imgSrc" class="h-1/4 lg:h-2/3" alt="logo" />
      }
    </div>
  </div>
</div>
